.containerTeacherApplyApplication {
  margin-top: 34px;

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    .titleText {
      font-weight: 500;
      font-size: 32px;
      line-height: 32px;
      letter-spacing: 0.05em;

      color: #313131;
    }

    .status {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #313131;
      padding: 4px 12px;
      margin-top: 3px;

      background: #FFDBC3;
      border-radius: 5px;

      &__done {
        background: #BBE4E3;
      }
    }
  }

  .message {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #757575;
    margin-top: 13px;
  }
}