tr.tableHeader {
  height: 50px;
  font-family: 'Ubuntu', serif;
  border-radius: 6px;

  background: #f3f6f9;
  height: 50px;
  border-radius: 6px;

  .col_name {
    width: 61%;
    border-radius: 6px;
    // display: flex;
    // flex-direction: row;
    // height: 50px;
    // align-items: center;

    .spanName {
      color: #464e5f;
      font-size: 16px;
      line-height: 19px;

      padding-left: 32px;
      padding-bottom: 4px;
    }
  }

  .shack {
    border-radius: 6px;
  }

  .tableHeaderCell {
    text-align: center;
    font-weight: 700;

    .spanName {
      color: #464e5f;
      font-size: 16px;
      line-height: 19px;

      padding-left: 8px;
      padding-bottom: 4px;
    }

    .nameCol {
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0.03em;
      font-family: 'Ubuntu', serif;

      padding: 8px 32px 0 32px;

      color: #464e5f;
    }

    // .price {
    //   font-weight: 700;
    //   font-size: 14px;
    //   line-height: 16px;
    //   color: #58bcbb;
    // }
  }

  // .col_name {
  //   display: flex;
  //   flex-direction: row;
  //   height: 50px;
  //   align-items: center;
  // }
}
