.containerTable {
  margin-top: 12px;

  .planReportTable {
    width: 100%;
    border-collapse: collapse;

    .containerHead {
      // background: #f3f6f9;
      // height: 50px;
      // border-radius: 6px;
    }

    .containerBody {
      justify-content: center;
      align-items: center;
    }
  }
}
