.containerTable {
  margin-top: 12px;
  display: flex;
  flex-wrap: nowrap;
  border-spacing: 0 8px;

  .checkChild {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #58BCBB;

    padding: 4px 8px;
    background: #EFF2F5;
    border-radius: 5px;

    &__name {
      margin-right: 8px;
    }
  }

  .nameChild {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;

    color: #464E5F;
  }

  .nameCol {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.03em;

    color: #464E5F;
  }

  .price {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #58BCBB;
  }

  .table {
    border-spacing: 0 8px;

    border-bottom: 1px solid #F3F6F9;

    &__t1 {
      width: 48%;

      tr td {
        text-align: start;
        padding-left: 32px;
      }
    }

    &__t2,
    &__t3,
    &__t4, {
      width: 12%;

      tr td {
        text-align: center;
      }
    }

    &__t5 {
      width: 16%;

      tr td {
        text-align: center;
      }

      tbody {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }

    thead {
      background: #F3F6F9;
      border-radius: 6px;
      padding: 16px 32px;
      height: 50px;
    }
  }
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  background-size: 50% 50%;

  background: rgba(255, 255, 255, 0.24);
  border: 0.8px solid #333333;
  border-radius: 3.2px;
}

.custom-checkbox__firstCol + label::before {
  margin-right: 8px;
}

.custom-checkbox:checked + label::before {
  background: #353636;
  background-origin: content-box;
  background-position: center;
  background-image: url("../../../../7_shared/assets/images/Group.png");
}

label {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.03em;

  color: #464E5F;
}
